[run]
omit =
  *__init__*
  *venv*
relative_files = True
source =
    ./src
branch = True

[report]
format = markdown
fail_under=80

[html]
directory = coverage_html_report

[paths]
source =
    ./src
