server_tokens               off;
access_log                  /var/log/nginx/api.access.log;
error_log                   /var/log/nginx/api.error.log;
upstream gunicornserver {
    server ${API_HOST};
}

server {
  listen    80;
  listen    [::]:80 default_server;
  server_name   .${NGINX_HOST};

  location /favicon.ico {
    access_log off;
    log_not_found off;
  }

  location / {
    proxy_pass              http://gunicornserver;
    proxy_http_version  1.1;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_redirect off;
  }

  location /static {
    autoindex on;
    alias ${STATICFILES_DIR};
  }
  location /media {
    autoindex on;
    alias ${MEDIAFILES_DIR};
  }

}
